/* Seleccionar todos los elementos de la pagina */
* {
    font: 1em/1.3 Arial, Helvetica, sans-serif;
}
/* Todos los parrafos de pantalla */
p {
    color: #555;
}
/* Todos los parrafos contenidos en "primero" */
#uno p {
    color: #336699;
}
/* todos los enlaces de la página */
a {
    color: #CC3300;
}
/* Los elementos <em> contenidos en "primero" */
#uno em {
    background: #FFFFCC;
    padding: .1em;
} 
/* Todos los elementos <em> de clase "marcado" en toda la pagina */
em[class=marcado] {
    background: #FFCC99;
    border: 1px solid #FF9900;
    padding: .1em;
}
/* Elementos <span> contenidos en "dos" */
.dos span {
    font-weight: bold;
}